/* Primary Styles */
*, *::before, *::after {
   box-sizing: border-box;
}

body {
   font-family: sans-serif;
   font-size: 1em;
   color: #333;
}

h1 {
  font-size: 1.4em;
}

em {
   font-style: normal;
}

a {
   text-decoration: none;
   color: inherit;
} 

/* Layout */
.s-layout {
   display: flex;
   overflow-x: hidden;
   /* width: 100%; */
   min-height: 100vh;
}

.s-layout__content {
   display: block;
   justify-content: center;
   flex: 1;
   
}


#nav-menu{
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.3rem;
}

/* MAIN CONTENT STARTS HERE*/


/* PIE-CHART STUFF */

#container{
     width: 940px;
     display: flex;
      align-items: center;
      justify-content: center;

}
#chartContainer{
     width: 900px;
     height: 400px;
     margin-top: 10px;
}

#pie-chart-container {
  width: 500px;
  height: 500px;
  margin: 0 auto;
}



/* END HERE */


.analytics_container{
  width: 40rem;
  display: flex;
  gap:3rem;
  margin: 2rem auto;
  margin-bottom: 5px;
}

.analytics_container > div{
  width:400px;
  background-color: white;
  border-radius: 5px;
  padding:7px;
  height:120px;
  box-shadow: 0 4px 4px rgba(0,0,0,.1);
  font-size:35px;
}

.div_name{
  font-size:17px;
}

.mn{
  width:200px;
  margin: auto;
  margin-top:15px;
}

.mn p{
  text-align: center;
}








/* MAIN CONTENT ENDS*/



/* Sidebar */
.s-sidebar__trigger {
   z-index: 2;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 4em;
}

.s-sidebar__trigger > i{
  color:17px;
}

.s-sidebar__trigger > i {
   display: inline-block;
   margin: 1.5em 0 0 1.5em;
   color: #f07ab0;
}

.s-sidebar__nav {
   position: fixed;
   top: 0;
   left: -15em;
   overflow: hidden;
   transition: all .3s ease-in;
   width: 10em;
   height: 100%;
   background: #ec7b4e;
   color: white;
   font-size:18px;
}



.s-sidebar__nav:hover,
.s-sidebar__nav:focus,
.s-sidebar__trigger:focus + .s-sidebar__nav,
.s-sidebar__trigger:hover + .s-sidebar__nav {
   left: 0;
}

.s-sidebar__nav ul {
   position: absolute;
   top: 4em;
   left: 0;
   margin: 0;
   padding: 0;
   width: 15em;
}

.s-sidebar__nav ul li {
   width: 100%;
}

.s-sidebar__nav-link {
   position: relative;
   display: flex;
   width: 100%;
   height: 4em;
}

.s-sidebar__nav-link em {
   position: absolute;
   top: 50%;
   left: 4em;
   transform: translateY(-50%);
}

.s-sidebar__nav-link:hover {
   background: #f1ab8f;
}

.name:hover{
  background-color: #ec7b4e;
}

.s-sidebar__nav-link > i {
   position: absolute;
   top: 0;
   left: 0;
   display: inline-block;
   width: 4em;
   height: 4em;
}

.s-sidebar__nav-link > i::before {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}


.nav{
   margin-left:4rem;
}


/* Mobile First */
@media (min-width: 42em) {
   .s-layout__content {
      margin-left: 4em;
   }
   
   /* Sidebar */
   .s-sidebar__trigger {
      width: 4em;
   }
   
   .s-sidebar__nav {
      width: 4em;
      left: 0;
   }
   
   .s-sidebar__nav:hover,
   .s-sidebar__nav:focus,
   .s-sidebar__trigger:hover + .s-sidebar__nav,
   .s-sidebar__trigger:focus + .s-sidebar__nav {
      width: 15em;
   }
}

@media (min-width: 68em) {
   .s-layout__content {
      margin-left: 15em;
   }
   
   /* Sidebar */
   .s-sidebar__trigger {
      display: none
   }
   
   .s-sidebar__nav {
      width: 15em;
   }
   
   .s-sidebar__nav ul {
      top: 1.3em;
   }
}

