* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #ff512f;
  overflow-y: hidden;
}

main{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.top {
  margin-top: 4rem;
}

.main-container {
  width: 460px;
  height: auto;
  background-color: white;
  border-radius: 8px;
}

.reg {
  height: 600px;
}

.leaf-wrapper {
  width: 100px;
  margin: auto;
  padding-top: 0.7rem;
}

.leaf-icon {
  width: 55px;
  height: 55px;
}

.header-message {
  width: 270px;
  margin:1rem auto;
  padding-top: 0.4rem;
}

.welcome-message {
  font-weight: 400;
  font-size: 22px;
  color: rgb(39, 38, 38);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.desc-wrapper {
  width: 370px;
  margin: auto;
  margin-top: 0.2rem;
}

.desc-message {
  text-align: center;
  font-weight: 300;
  color: rgb(150, 141, 141);
  line-height: 18px;
}

.form-wrapper {
  width: 420px;
  height: 100%;
  margin: auto;
}

input[type="password"],
input[type="text"] {
  width: 420px;
  height: 55px;
  padding: 8px;
  padding-left: 15px;
  font-size: 17px;
  outline: none;
  border: none;
  border-radius: 3px;
  border: 1px solid #f3f3f3;
  background-color: #f3f3f3;
}

.radio_wrapper {
  width: 500px;
  display: flex;
  gap: 7rem;
  margin: 0.7rem auto;
}

.input-wrapper {
  margin-top: 1.2rem;
}

.iama {
  font-size: 18px;
  color: rgb(85, 81, 81);
}

.wr {
  display: flex;
  gap: 1rem;
}

.spacer {
  height: 20px;
}

.inner-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  padding: 5px;
  vertical-align: middle;
  transform: translateY(20%);
}

.icon-wrapper {
  display: flex;
  justify-content: end;
  padding-right: 10px;
}

.forgot-password {
  margin-top: 1rem;
}

.forgot-password a {
  text-decoration: none;
}

h6 {
  font-weight: 300;
  font-size: 14px;
  text-align: end;
  color: rgb(150, 141, 141);
}

.submit-wrapper {
  width: 420px;
  margin: auto;
  margin-top: 1rem;
}

.btn {
  width: 420px;
  height: 45px;
  outline: none;
  border: none;
  font-size: 19px;
  padding: 10px;
  border-radius: 4px;
  color: white;
  background-color: #e46d55;
  cursor: pointer;
}


/* Goole sign in button */
.google-btn {
  display: inline-block;
  justify-content: center;
  background-color: #f3f3f3;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding: 0 16px;
  border-radius: 2px;
  border: 1px solid #dadce0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  height: 36px;
  line-height: 36px;
  transition: box-shadow 0.2s;
}

.google_div{
  width:200px;
  margin:1rem auto;
}

.google-btn:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.google-btn img {
  height: 18px;
  margin-right: 16px;
  vertical-align: middle;
}


.footer-wrapper {
  width: 300px;
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.footer-wrapper h6 {
  font-weight: 300;
  font-size: 16px;
  text-align: end;
  color: rgb(85, 81, 81);
}

.footer-wrapper a {
  color: #ff512f;
  font-weight: 500;
  font-size: 17px;
}

.error {
  border: 1.5px solid #d9534f;
}

.success {
  border: 1.5px solid #5cb85c;
}

.alert {
  color: #d9534f;
  text-align: center;
  font-weight: 400;
  display: none;
}

.visible {
  display: block;
}


