/* .navigation{ */
    /* position: absolute;
    right: 0;
    bottom: 0;
} */


img {
  width: 25px;
  border-radius: 50px;
}

.logout {
  font-size: 0.8em;
  font-family: "Oswald", sans-serif;
  overflow: hidden;
  letter-spacing: 3px;
  opacity: 0;
  transition: opacity 0.45s;
  -webkit-transition: opacity 0.35s;
}

.button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  margin: 15px;
  color: white;
  width: 25px;
  background-color: black;
  transition: width 0.35s;
  -webkit-transition: width 0.35s;
  overflow: hidden;
}

a:hover {
  width: 100px;
}

a:hover .logout {
  opacity: 0.9;
}

a {
  text-decoration: none;
}



/* 0245723670 */