* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

h1 {
	text-align: center;
	margin-bottom: 20px;
}

.profile {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 40px;
}

.info {
	flex-basis: 50%;
	margin-bottom: 20px;
}

h2 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}

span {
	font-weight: normal;
}

p {
	font-size: 18px;
	margin-bottom: 5px;
}

.image {
	flex-basis: 40%;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}
